{% extends "dupie_template.html" %}
{% block content %}

{# DTO.AllSessionInfo #}


<a href="/quiz/newquiz">newQuiz</a>
<BR><BR><BR>
<table>
    <tr>
        <th>
            Link
        </th>
        <th>
            Status
        </th>
        <th>
            Language
        </th>
        <th>
            Questions
        </th>
        <th>
            Choices
        </th>
    </tr>
{%- for mySession in DTO.AllSessionInfo %}

    <tr>
        <td>
            <a href="quiz/{{mySession.UID}}/{{mySession.USERSESSIONS_INDEX}}/0/">Game#{{mySession.USERSESSIONS_INDEX}}</a>
            
        </td>
        <td>
            {{mySession.STATEMACHINE}}
        </td>
        <td>
            {{mySession.LANG_QUESTION}} 
        -->
            {{mySession.LANG_ANSWER}}
        </td>
        <td>
            {{mySession.QUESTIONS}}
        </td>
        <td>
            {{mySession.ANSWERS}}
        </td>
    </tr>
{%- endfor %}

</table>

{% endblock %}
